{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'man/style2.css' %}">

{% if otpr_list %}
<h4>Отправители писем:</h4>
<li>{{m.lo}}</li>
    <ul>
    {% for o in otpr_list %}        
        <li><a href="{% url 'man:detail' o.id %}">{{ o.na }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Таких нет.</p>
{% endif %}
<form action="{% url 'man:radio' m.id %}" method="post">
{% csrf_token %}
    {% for ch,p in ch_list %}
    <input type="radio" name="ch" id="ch{{ forloop.counter }}" value="{{ ch }}" />
    <label for="ch{{ forloop.counter }}">{{p}}</label><br />
{% endfor %}
<input type="submit" value="Дальше" />
</form>

